.container{
    width: 75%;
    max-width: 1140px;
    min-width: 300px;
    margin: auto;
}
.row{

}
.text-align-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-space-between{
    justify-content: space-between !important;
}
.justify-content-center{
    justify-content: center !important;
}