@media (max-width:843px) {
    .section1-heading {
        width: 211.396px;
        height: 53.863px;
        font-size: 35px;
    }

    .section1-article {
        width: 383.408px;
        height: 216.608px;
        font-size: 14px;
        font-weight: 400;
    }

    .section1-img {
        width: 181.858px;
        height: 182.438px;
    }

    .section1-shadow {
        width: 211.975px;
        height: 34.171px;
        position: absolute;
        top: 50%;
    }

    .section2-img,
    .section2-shadow {
        display: none;
    }

    .section2>ul {
        position: absolute;
        top: 80%;
        left: 5%;
    }

    .section2-li>h5 {
        font-size: 15px;
        width: 86.875px;
        height: 22.587px;
    }

    .section2-li>p {
        font-size: 11px;
        width: 86.875px;
        height: 22.587px;
    }
}

@media (max-width:375px) {
    body {
        width: 375px;
        height: 776px;
    }

    .section1-heading {
        width: 170.08px;
        height: 43.335px;
        font-size: 26px;
    }

    .section1-article {
        width: 308.474px;
        height: 174.274px;
        font-size: 12px;
    }

    .section1-img {
        width: 146.315px;
        height: 146.781px;
        position: absolute;
        left: 35%;
        top: 55%;
    }

    .section1-shadow {
        width: 170.546px;
        height: 27.492px;
        position: absolute;
        left: 30%;
        top: 77%;
    }

    .section2-li>h5 {
        width: 69.896px;
        height: 18.173px;
        font-size: 12px;
    }

    .section2-li>p {
        width: 86px;
        height: 18px;
        font-size: 10px;
    }

    .section2>ul {
        position: absolute;
        top: 90%;
    }

    #list3 {
        position: absolute;
        top: 90%;
    }
}