.section1-heading {
    position: relative;
    left: 10%;
    top: 30px;
    margin-bottom: 25px;
    width: 365px;
    height: 93px;
    color: #000;
    font-family: 'Roboto Slab';
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.385%;
}

.section1-article {
    position: absolute;
    left: 10%;
    width: 600px;
    height: 374px;
    color: #000;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.section1-img {
    width: 314px;
    height: 315px;
    position: absolute;
    top: 8rem;
    left: 70%;
    z-index: 2;
}

.section1-shadow {
    position: absolute;
    top: 70%;
    left: 68%;
    width: 368px;
    height: 59px;
    border-radius: 50%;
    background: #EFEFEF;
    z-index: 1;
}

.section2 {
    margin-bottom: 40%;
}

.section2-img {
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 2;
}

.section2-shadow {
    position: absolute;
    top: 130%;
    left: 10%;
    z-index: 1;
    width: 250px;
}

.section2>ul {
    position: absolute;
    top: 115%;
    left: 40%;
    width: 80%px;
    height: 95px;
}

.section2>ul li {
    margin-right: 100px;
}

li>h5 {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;
}

li>p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
}