body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;    ;
}
.team{
    width: 100%;
}
.col-3{
    margin: 0px auto;
    border-radius: 5px ;
}
.col-12 .subheading{
    color: #ffa62b;
    font-size: 15px;
    font-weight: 600;

}
.col-12 .heading{
    font-size: 52px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 3px;

}

.staff .img{
    width: 100%;
    display: block;
    height: 385px;
    background-position: top center !important;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.staff .img ul{
    position: absolute;
    bottom: 0;
    left: 15px;
    padding: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
.staff .img ul li{
    list-style: none;
}
.staff .img ul li a{
height: 40px;
    width: 40px;
    display: block;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #3d424a;
    margin-bottom: 7px;
}
.staff .img ul li a span{
    position: absolute;
    font-size: 18px;
    top: 13px;
    left: 13px;
    color: #fff;
}
a{
    transition: .3s all ease;
    text-decoration: none;

}
.content{
    cursor: auto;
}
.content h3 a{
    color: #3d424a;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer !important;
}
.content p{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(165, 162, 162);
}
.col-3:hover{
    background-color: #ffa62b;
    transition: all .4s;
}
.col-3:hover ul{
    opacity: 1;
}
.staff .img ul li a:hover{
   background: #ffa62b;
}