body {
    background-image: url("../img/photo_2022-10-07_20-17-38.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;

}

#login {
    width: 40%;
    margin: auto;
    position: relative;
    top: 80px;
}
h1 {
    text-align: center;
}

input {
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    background: transparent;
    opacity: 1;
    border: 2px solid #000;
    border-radius: 4px;
}

input::placeholder {
    color: #fff;
}
.login{
    width: 280px;
    height: 30px;
    border-radius: 4px;
    background-color: olivedrab;
    border: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}