
.carousel-item>img{
    height: 550px;
}
.carousel-caption>p{
    font-size: 20px;
    color: #fff;
}
.col-lg-4>h2,p{
    color:#5a5a5a;
}
.col-lg-4>h2{
    font-weight: 400;
}
.col-lg-4>p{
    margin-right: 0.75rem;
    margin-left: 0.75rem
}
.heading{
    font-size: 50px;
    font-weight: 400;
    margin-top: 100px;
    margin-left: 60px;
    width: 85%;
    line-height: 1;
}
.lg-heading{
    color: blueviolet;
}
.lead{
    font-size: 1.25rem;
    font-weight: 300;
    width: 85%;
    margin-left: 60px;
}
.spacing{
    margin-top: 200px;
}
footer{
    margin-top: 80px;
}