@import "mixins";

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.section1 {
    background-color: #1C1E53;
    padding-bottom: 47px;

    .header-logo {
        margin-left: 160px;
        padding-top: 33px;
    }

}

.navbar {
    margin-left: 500px;

    ul {
        margin-top: -35px;

        li {
            list-style-type: none;
            padding-right: 30px;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;

            a {
                @include colorWhite;
                text-decoration: none;

                &:hover {
                    color: rgb(144, 22, 22);
                    transition: all .2s ease-in;
                }
            }

            button {
                width: 120px;
                height: 40px;
                background-color: transparent;
                border-radius: 23px;
                border: 1px solid #BBBBCB;
                margin-left: 40px;
                margin-top: -40px;
            }
        }
    }
}

.col-lg-7 {
    h1 {
        @include colorWhite;
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
        margin-top: 90px;
        margin-left: 73px;
    }

    p {
        @include colorWhite;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-left: 73px;
    }

    button {
        background-color: #FCD980;
        border-radius: 30px;
        border: 2px solid #1B1C2B;
        width: 150px;
        height: 50px;
        margin-left: 67px;
    }

    span {
        @include colorWhite;
        margin-left: 60px;
        margin-right: 5px;
    }
}

.col-lg-5 {
    img {
        width: 400px;
        height: 250px;
        margin-top: -400px;
        margin-left: 650px;
    }
}

.section2 {
    padding-top: 100px;
    background-color: #F4F6FC;

    h4 {
        color: #282938;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
    }



    p {
        color: #282938;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
    }

    .git {
        p {
            color: #2405F2;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
        }

        img {
            position: absolute;
            left: 200px;
            top: 155px;
        }

    }

    span {
        position: relative;
        left: -33px;
        color: white;
    }

    .grid-items {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, auto);
        gap: 60px;
        margin-left: 500px;
        margin-top: -185px;

        .item-1 {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .col-lg-4 {
        margin-left: 65px;
    }
}

h1 {
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.section3 {
    margin-top: 8%;
    margin-bottom: 20px;

    .item_1 {
        width: 60%;
        margin-left: 85px;

    }

    .item_2 {
        width: 30%;
        margin-left: 10px;
        margin-top: 270px;
    }

    .item_3 {
        width: 30%;
        margin-left: 850px;
        margin-top: -845px;

    }

    .item_4 {
        width: 29%;
        margin-top: -890px;
        margin-left: 860px;
    }

    h1 {
        margin-left: 78px;
        margin-bottom: 4%;
    }

    h5 {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    span {
        color: #FCD980;
    }

    .item_5 {
        margin-left: -760px;
        width: 28%;
    }

    .card3 {
        margin-left: 910px;
        margin-top: -470px;

        h5 {
            width: 200px;
        }
    }
}